{% extends 'base.html' %}
{% load static %}

{% block title %}Inicia sesión{% endblock %}

{% block 'contenido' %}
<div class="container my-3 py-2">
    <div class="row justify-content-center">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <main class="form-signin w-100 m-auto">
                <form method="post">
                    {% csrf_token %}
                    <h1 class="h3 mb-3 fw-normal text-center">Iniciar sesión</h1>

                    <div class="form-floating mb-3">
                        <input type="" name="username" class="form-control" id="floatingInput" placeholder="Usuario" required>
                        <label for="{{ form.username.id_for_label }}">Usuario</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password" required>
                        <label for="{{ form.password.id_for_label }}">Contraseña</label>
                    </div>

                    <button class="btn btn-primary w-100 py-2" type="submit">Login</button>
                </form>
            </main>
        </div>
        <div class="col-md-5"></div>
    </div>
</div>
{% endblock %}
